body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #14213d;
    color: #ffc300;
    border-bottom: 10px solid #ffc300;
        
}

.border-blue {
    border: 1px dotted blue;
}

img {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

img:hover{
    border: 1px solid #ffc300;
}

@keyframes example{
    0% {top: -10px;}
    50% {top: 10px; background-color: blue;}
    100% {top: -10px;}
}


